10_Followup_Agent.json
{
  "name": "10_Followup_Agent",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "followup", "responseMode": "lastNode"},
      "id": "webhook-followup", "name": "Followup Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [250, 300], "webhookId": "followup-010"
    },
    {
      "parameters": {"operation": "read", "filePath": "={{$env.HOME}}/AI-Lead-Agent/database/sent_log.csv", "options": {"delimiter": ",", "headerRow": true}},
      "id": "read-sent", "name": "Read Sent Log", "type": "n8n-nodes-base.spreadsheetFile", "typeVersion": 1, "position": [450, 300]
    },
    {
      "parameters": {"jsCode": "const sent = $input.first().json.data || [];\nconst now = new Date();\nconst needsFollowup = sent.filter(s => {\n  if (!s.sentAt) return false;\n  const sentDate = new Date(s.sentAt);\n  const daysSince = (now - sentDate) / (1000 * 60 * 60 * 24);\n  const followupStage = parseInt(s.followupStage || '0');\n  const intervals = [3, 7, 14];\n  return followupStage < 3 && daysSince >= intervals[followupStage];\n}).slice(0, 5);\nreturn {leads: needsFollowup, count: needsFollowup.length};"},
      "id": "find-followups", "name": "Find Leads for Follow-up", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [650, 300]
    },
    {
      "parameters": {"jsCode": "const lead = $input.first().json;\nconst stage = parseInt(lead.followupStage || '0') + 1;\nconst messages = ['Just following up on my previous email...', 'I wanted to share a quick tip for your website...', 'This is my last message. If interested, book a call here: {{$env.CALENDLY_EVENT_URL}}'];\nreturn {to: lead.email, subject: 'Re: ' + (lead.subject || 'Your Website'), text: messages[stage - 1] || messages[0], leadId: lead.leadId, stage: stage};"},
      "id": "build-followup", "name": "Build Follow-up Email", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [850, 300]
    },
    {
      "parameters": {"fromEmail": "={{$env.SMTP_USER}}", "toEmail": "={{$json.to}}", "subject": "={{$json.subject}}", "text": "={{$json.text}}", "options": {}},
      "id": "send-followup", "name": "Send Follow-up Email", "type": "n8n-nodes-base.emailSend", "typeVersion": 2, "position": [1050, 300],
      "credentials": {"smtp": {"id": "1", "name": "SMTP Account"}}
    },
    {
      "parameters": {"operation": "write", "filePath": "={{$env.HOME}}/AI-Lead-Agent/database/followup.csv", "options": {"delimiter": ",", "headerRow": true, "append": true}},
      "id": "log-followup", "name": "Log Follow-up", "type": "n8n-nodes-base.spreadsheetFile", "typeVersion": 1, "position": [1250, 300]
    }
  ],
  "connections": {
    "Followup Webhook": {"main": [[{"node": "Read Sent Log", "type": "main", "index": 0}]]},
    "Read Sent Log": {"main": [[{"node": "Find Leads for Follow-up", "type": "main", "index": 0}]]},
    "Find Leads for Follow-up": {"main": [[{"node": "Build Follow-up Email", "type": "main", "index": 0}]]},
    "Build Follow-up Email": {"main": [[{"node": "Send Follow-up Email", "type": "main", "index": 0}]]},
    "Send Follow-up Email": {"main": [[{"node": "Log Follow-up", "type": "main", "index": 0}]]}
  },
  "settings": {"saveExecutionProgress": true, "callerPolicy": "workflowsFromSameOwner"},
  "staticData": null, "tags": [{"name": "followup"}], "pinData": {}, "versionId": "1.0.0"
}